.title {
  &--one {
    font-weight: bolder !important;
    font-size: 6em !important;
    margin-bottom: 20px !important;
  }
  &--two {
    font-weight: 300 !important;
    margin-bottom: 20px !important;
  }
}

.button {
  border-radius: 20px !important;
  width: 250px !important;
  height: 40px !important;
  font-weight: 500 !important;
}
