@import "src/styles/base/background-color";

.device {
  z-index: 999;
  position: relative;

  &__container {
    @include background-default(
      url(../../styles/images/common/iphone-x/portrait.png),
      no-repeat,
      center,
      contain
    );

    max-width: 300px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    padding: 20px;
    position: relative;
  }
}
